bin
*.launch
.settings
.metadata
.classpath
.project
out
*.ipr
*.iws
*.iml
.idea
build
.gradle
*.tmp
*.log
*.jks
forge*changelog.txt
mcmodsrepo
eclipse
run
tests
src/main/resources/assets/minecraft
signing.*
.vscode
/dist
/classes
/dev
/tmp
.gimp
desktop.ini
.DS_Store
Thumbs.db
